body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

#team {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  width: 340px;
  height: 480px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card .image {
  width: 170px;
  height: 170px;
  background-color: #cddc39;
  margin: 40px;
  border-radius: 50%;
  border: 3px solid #cddc39;
}

.card h3 {
  margin: 0;
  padding: 0;
}

.card p {
  margin-top: 5px;
  padding: 0;
  text-align: center;
  color: #333;
}

.card .social {
  width: 250px;
  height: 200px;
  color: #cddc39;
  margin: 40px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  /* transition: 2s; */
}

.card .social li:hover {
  transition: 2s;
  color: #000;
}
